body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 35px;
}

#main {
    /*display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 3% 2% 3% 3%;
    gap: 5%;
}

/*
#data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/

.covid {
    margin-top: 4%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    column-gap: 15%;
    /*background-color: red;*/
    border-radius: 15px;
    padding-left: 1%;
    padding-right: 1%;
    grid-column: 1/3;

}

.covid h1 {
    font-size: 2em;
}

.tweets {
    /*background-color: aqua;*/
    width: 100%;
    height: 450px;
    padding: 2px;
    margin-right: 3%;
    border-radius: 15px;
    overflow-y:scroll;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.city,
.nation,
.stats,
.regionName,
.regionCases{
    display: flex;
    flex-direction: row;
}

.title{
    font-weight: 700;
}

#back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
}

.back-btn {
    background: rgb(225, 232, 237);
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
    color: rgb(29, 161, 242);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.back-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}