body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}

h1 {
    font-size: 35px;
}

#main {
    /*display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;*/
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 1% 2% 2% 2%;
    gap: 3%;
    background-color: #1DA1F2;
    padding: 2%;
    padding-bottom: 5%;
    border-radius: 15px;
}


/*
#data {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
*/

.covid {
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    column-gap: 7%;
    background-color: white;
    border-radius: 15px;
    padding-left: 1%;
    padding-right: 1%;
    grid-column: 1/3;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.covid h1 {
    font-size: 2em;
}

.tweets {
    /*background-color: rgb(183, 255, 255);*/
    width: 85%;
    height: 450px;
    padding: 1% 2% 1% 2%;
    border-radius: 15px;
    align-items: center !important;
    justify-content: center !important;
    overflow-y: scroll;
}


/* width */

.tweets::-webkit-scrollbar {
    width: 20px;
}


/* Track */

.tweets::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

.tweets::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 10px;
}


/* Handle on hover */

.tweets::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4;
}

.map {
    width: 100%;
    height: 100%;
}

.city,
.nation,
.stats,
.regionName,
.regionCases {
    display: flex;
    flex-direction: row;
}

.title {
    font-weight: 700;
}

#back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
}

.back-btn {
    background: rgb(225, 232, 237);
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
    color: rgb(29, 161, 242);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s;
}

.back-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}