body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0.2em;
}

#header img {
    width: 7%;
}

#header p {
    margin-top: 0;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: 2em;
}

#search {
    text-align: center;
}

#utils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    padding: 2%;
}

input[type='text'] {
    width: 40%;
    font-size: 2em;
    margin-bottom: 2%;
    border-radius: 15px;
    padding: 1% 2% 1% 2%;
}

input[type='submit'] {
    width: 20%;
    font-size: 2em;
    margin-bottom: 2%;
    border-radius: 15px;
    padding: 1% 2% 1% 2%;
    cursor: pointer;
}

input[type='text']:hover {
    background: rgb(98, 181, 214);
    color: black;
}

input[type='submit']:hover {
    background: rgb(228, 100, 100);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}