doctype html
html
  head
    meta(charset="utf-8")
    link(rel='icon' href='pic/mp.ico' type='image/icon type')
    link(rel='stylesheet', href='/css/index.css')
    script(src='https://kit.fontawesome.com/d8697e016e.js' crossorigin='anonymous')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src='/js/chatbot.js')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title MarcoPolo
  body
    #main
      #header
        img(src="/pic/mp.jpg")
        div.txt
          h1 Marco Polo 
          p Ricava info covid nazionali,post Twitter di interesse e info Maps relative alle città di tuo interesse
        img(src="/pic/mp.jpg")
      #content 
        #search 
          if logged 
            form(action="https://localhost:8083/nation" method = "GET")
              input(type="text", placeholder="Inserisci una città", name="nat", id="prova", autocomplete="off" required)
              p= error 
              input(type="submit", value="Cerca!")
        #utils
          if logged
            p Benvenuto 
              p= username
              a(class="outbtn", href="https://localhost:8083/logout") Logout from Twitter 
                i.fa-solid.fa-arrow-right-from-bracket
          else 
            a(class="logbtn", href="https://localhost:8083/login") Accedi con Twitter!              
              i.fa-brands.fa-twitter

          .chatbot 
            .chat 
              ul(id ="chatbotUL") 

            .sendMSG
              form(class="send-form")
                input(type="text" placeholder="..." id="inputMsg" autocomplete=off)
                input(type="submit" class="send-btn" id="inputSubmit" value="Invia")
          