doctype html
html
  head
    meta(charset="utf-8")
    link(rel='icon' href='pic/mp.ico' type='image/icon type')
    link(rel='stylesheet', href='/css/index.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title MarcoPolo
  body
    #main
      #header
        img(src="/pic/mp.jpg")
        div.txt
          h1 Marco Polo 
          p Ricava info covid nazionali,post Twitter di interesse e info Maps relative alle città di tuo interesse
        img(src="/pic/mp.jpg")
      #content 
        #search 
          form(action="https://localhost:8083/nation")
            input(type="text", placeholder="Nazione", name="nat") 
            input(type="submit", value="Cerca!")
        #utils
          if logged
            p Benvenuto 
              p= username
              a(href="https://localhost:8083/logout") Logout from Twitter 
          else 
            a(href="https://localhost:8083/login") Login via Twitter
          p ChatBot 